# Gestione del motore di riscrittura di Apache
RewriteEngine On

# Forza HTTPS in produzione (Salta la regola se siamo in locale su localhost)
RewriteCond %{HTTP_HOST} !=localhost:8080
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Impedisce il listing delle cartelle (sicurezza)
Options -Indexes