php_value upload_max_filesize 64M
php_value post_max_size 80M
php_value max_execution_time 300
php_value memory_limit 256M

# Forzatura HTTPS
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Abilita file upload multipli per il form
Options -Indexes